@import "bootstrap";
@import "highlight";
@import "hyphenation";


.full-width img {
  width: 100%;
}

.figure-caption {
  font-size: 90%;
  font-style: italic;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

h1,
h2,
h3 {
  @extend .mt-5;
  @extend .mb-0;
}

p,
ol,
ul,
dl,
pre,
figure {
  @extend .mt-3;
  @extend .mb-0;
}

footer,
header {
  font-family: $font-family-sans-serif;
}

footer {
  @extend .py-4;
  background-color: $gray-700;
}

.col-md-content {
  @include make-col-ready();
  @extend .pb-5;

  @include media-breakpoint-up(md) {
    flex: 0 0 $content-max-width;
    max-width: $content-max-width;
  }
}
