$font-family-base: "Merriweather", "Georgia", "Bitstream Charter", "Charis SIL",
  "Utopia", "URW Bookman L", serif;
$font-weight-base: 300;
$font-weight-bolder: 700;
$font-size-base: 1.05rem;
$line-height-base: 2.2;

$font-family-sans-serif: "Open Sans", -apple-system, "BlinkMacSystemFont",
  "Segoe UI", Roboto, "Helvetica Neue", "Arial", "Noto Sans", sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

// Only a single breakpoint. Anything below an iPad in portrait mode is full width.
$grid-breakpoints: (
  xs: 0,
  md: 768px
);

$container-max-widths: (
  md: 1000px
);

// Setting the content to 700px leaves 68px for the two columns left and right of the main content column. With a gutter space of 30px this leaves 4px for the column. Just enough. =)
$content-max-width: 700px;

$code-font-size: 80%;
$code-color: black;

@import "../node_modules/bootstrap/scss/variables";

$code-background: $gray-200;
$h3-font-size: $font-size-base * 1.5;
