$font-family-base: "Merriweather", "Georgia", "Bitstream Charter", "Charis SIL",
  "Utopia", "URW Bookman L", serif;
$font-size-base: 1.2rem;
$line-height-base: 1.75;

$grid-breakpoints: (
  xs: 0,
  //sm: 576px,
  md: 768px,
  //lg: 992px,
  //xl: 1200px
) !default;

$container-max-widths: (
  //sm: 540px,
  md: 720px,
  //lg: 960px,
  //xl: 1140px
) !default;

$code-font-size: 80%;
$code-color: black;
$code-background: rgba(27, 31, 35, 0.05);

@import "../node_modules/bootstrap/scss/variables";
