
// Colors theme inspired by VSCode's default Dark+ theme. Rouge doesn't distiguish items as precisely as VSCode does, so it's not possible to make a perfect color theme match.
// Color codes taken from dark_vs.json, dark_defaults.json and dark_plus.json found at https://github.com/Microsoft/vscode/tree/master/extensions/theme-defaults/themes.

.highlight {
  background: #1e1e1e;
  color: #d4d4d4;

  // Comment.Single
  .c1,
  // Comment.Multiline
  .cm {
    color: #6a9955;
    font-style: italic;
  }

  // Keyword
  .k {
    color: #C586C0;
  }

  // Keyword.Declaration
  .kd {
    color: #569cd6;
  }

  // Literal.Number.Float
  .mf,
  // Literal.Number.Hex
  .mh,
  // Literal.Number.Integer
  .mi,
  // Literal.Number.Oct
  .mo {
    color: #b5cea8;
  }

  // Name
  .n,
  // Name.Attribute
  .na,
  // Name.Builtin
  .nb,
  // Name.Function
  .nf,
  // Name.Other
  .nx {
    color: #9cdcfe; // #d7ba7d; // #4EC9B0
  }

  // Literal.String
  .s,
  // Literal.String.Single
  .s1,
  // Literal.String.Double
  .s2 {
    color: #ce9178;
  }
}
