<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ page.title }}</title>
    {% seo title=false %}
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/jan-aagaard-34x34.png" />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-142975940-1"
    ></script>
    {% comment %} https://csswizardry.com/2020/05/the-fastest-google-fonts/#preconnect {% endcomment %}
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      as="style"
      href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700|Open+Sans&display=fallback"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700|Open+Sans&display=fallback"
      media="print"
      onload="this.media='all'"
    />
    <link
      rel="stylesheet"
      href="/css/main.css?{{ site.time | date: '%s%N' }}"
    />
    <link rel="canonical" href="{{ site.url }}{{ page.url }}" />
  </head>
  <body>
    {{ content }}
    <div id="userCategoryWrapper" class="user-category">
      <a href="/filter"><span id="userCategory"></span></a>
    </div>
    <script async>
      document.addEventListener("DOMContentLoaded", function (event) {
        function getUserCategory() {
          const userCategory = window.localStorage.getItem("UserCategory")
          if (userCategory == null) {
            return "Anonymous"
          }
          return userCategory
        }

        if (window.location.host === "localhost") {
          return
        }

        const userCategory = getUserCategory()
        console.info(`User category: ${userCategory}.`)

        if (userCategory !== "Anonymous") {
          document.getElementById("userCategory").innerText = userCategory
        } else {
          // Remove the element to avoid leaving an empty link on the page. It would be better to add the element programmatically instead.
          document.getElementById("userCategoryWrapper").remove();
        }

        window.dataLayer = window.dataLayer || []
        function gtag() {
          dataLayer.push(arguments)
        }

        gtag("js", new Date())
        gtag("config", "UA-142975940-1", {
          dimension1: userCategory,
        })
      })
    </script>
  </body>
</html>
