---
layout: base
---

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/blog/">
        <img
          src="/images/jan-aagaard-34x34.png"
          alt="Jan Aagaard"
          class="mr-2 rounded-circle"
          style="height: 34px; width: 34px;"
        />
        Jan Aagaard's Blog
      </a>
    </div>
  </nav>
</header>
<main class="container-fluid flex-grow-1">
  {{ content }}
</main>
<footer class="text-light">
  <div class="container">
    <ul class="mt-0">
      <li>
        <a class="text-light" href="/"
          ><img
            src="/images/icons/industry-solid.svg"
            class="icon"
            alt="Company"
          />JanAagaard.com</a
        >
      </li>
      <li>
        <a class="text-light" href="mailto:jan@aagaard.net"
          ><img
            src="/images/icons/envelope.svg"
            class="icon"
            alt="Email"
          />jan@aagaard.net</a
        >
      </li>
      <li>
        <a class="text-light" href="https://twitter.com/janaagaard"
          ><img
            src="/images/icons/twit-ter.svg"
            class="icon"
            alt="Twitter"
          />janaagaard</a
        >
      </li>
      <li>
        <a class="text-light" href="https://github.com/janaagaard75"
          ><img
            src="/images/icons/github.svg"
            class="icon"
            alt="GitHub"
          />janaagaard75</a
        >
      </li>
      <li>
        <a class="text-light" href="/blog/atom.xml"
          ><img src="/images/icons/r-ss.svg" class="icon" alt="Feed" />ATOM
          feed</a
        >
      </li>
    </ul>
  </div>
</footer>
