---
layout: base
---

<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/blog/">
        <img
          src="/images/jan-aagaard-34x34.png"
          alt="Jan Aagaard"
          class="mr-2 rounded-circle"
          style="height: 34px; width: 34px"
        />
        Jan Aagaard's Blog
      </a>
    </div>
  </nav>
</header>
<main class="container-fluid flex-grow-1">
  {{ content }}
</main>
<footer class="text-light">
  <div class="container">
    <ul class="mt-0 unstyled">
      <li>
        <a class="text-light" href="/"
          ><span class="ph ph-buildings icon" aria-label="Company"></span>JanAagaard.com</a
        >
      </li>
      <li>
        <a class="text-light" href="mailto:jan@aagaard.net"
          ><span class="ph ph-envelope icon" aria-label="Email"></span>jan@aagaard.net</a
        >
      </li>
      <li>
        <a class="text-light" href="https://bsky.app/profile/janaagaard.com"
          ><span class="ph ph-butterfly icon" aria-label="Bluesky"></span>@janaagaard.com</a
        >
      </li>
      <li>
        <a class="text-light" href="https://github.com/janaagaard75"
          ><span class="ph ph-github-logo icon" aria-label="GitHub"></span>janaagaard75</a
        >
      </li>
      <li>
        <a class="text-light" href="/blog/atom.xml"
          ><span class="ph ph-rss icon" aria-label="Feed"></span>ATOM
          feed</a
        >
      </li>
    </ul>
  </div>
</footer>
