<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ page.title }}</title>
    {% seo title=false %}
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/jan-aagaard.png" />
    <link
      rel="stylesheet"
      href="/css/main.css?{{ site.time | date: '%s%N' }}"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Merriweather:300,300i,700|Open+Sans"
    />
  </head>
  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/blog/">
            <img
              src="/images/jan-aagaard.png"
              alt="Jan Aagaard"
              class="mr-2"
              style="border-radius: 50%; width: 34px;"
            />
            Posts
          </a>
        </div>
      </nav>
    </header>
    <main class="container-fluid flex-grow-1">
      <div class="row">
        <div class="col"></div>
        <div class="col-md-content">
          {{ content }}
        </div>
        <div class="col"></div>
      </div>
    </main>
    <footer class="text-light">
      <div class="container">
        <ul class="mt-0">
          <li>
            <a class="text-light" href="mailto:jan@aagaard.net"
              ><img
                src="/images/icons/envelope.svg"
                class="icon"
              />jan@aagaard.net</a
            >
          </li>
          <li>
            <a class="text-light" href="https://twitter.com/janaagaard"
              ><img src="/images/icons/twitter.svg" class="icon" />janaagaard</a
            >
          </li>
          <li>
            <a class="text-light" href="https://github.com/janaagaard75"
              ><img
                src="/images/icons/github.svg"
                class="icon"
              />janaagaard75</a
            >
          </li>
          <li>
            <a class="text-light" href="/blog/atom.xml"
              ><img src="/images/icons/rss.svg" class="icon" />ATOM feed</a
            >
          </li>
          <li>
            <a class="text-light" href="/sitemap.xml"
              ><img src="/images/icons/code.svg" class="icon" /><XML sitemap</a
            >
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
