<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>{{ page.title }}</title>
    {% seo title=false %}
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <div class="container">
      {{ content }}
    </div>
    <footer>
      <ul>
        <li><a href="mailto:jan@aagaard.net">jan@aagaard.net</a></li>
        <li>
          <a href="https://github.com/janaagaard75">github.com/janaagaard75</a>
        </li>
        <li><a href="/sitemap.xml">XML sitemap</a></li>
        <li><a href="/feed.xml">ATOM feed</a></li>
      </ul>
    </footer>
  </body>
</html>
