---
layout: base
---

<div class="row">
  <div class="col"></div>
  <div class="col-md-content">
    <h1>{{ page.title }}</h1>
    <p class="meta">{{ page.date | date_to_string }}</p>
  </div>
  <div class="col"></div>
</div>
<div class="row">
  <div class="col"></div>
  <div class="col-md-content">
    {{ content }}
  </div>
  <div class="col">
    {% if page.tags %}
      <div class="tags">
        {% for tag in page.tags %}
          <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="tag">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </div>
</div>
